*{
    margin: 0;
}

body{
    background-color: #1B1C1F;
}

.navigation{
    background-color: #323335;
    border-radius: 24px;
    width: 416px;
    justify-content: center;
}

.hero-title{
    font-size: 64px;
    line-height: 1.2;
}

.hero-desc{
    font-size: 24px;
    line-height: 1.35;
}

.btn-purple{
    background-color: #8d46f6;
    padding: 16px 40px;
}

.btn-purple:hover{
    background-color: #7f37ea;
}

.gta-img{
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1.5;
    border-radius: 56px;
    background-color: #8b72ff;
    margin-right: 16px;
}

.gta-img:hover{
    background-color: #8d46f6;
}

.fortnite-img{
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    border-radius: 56px;
    background-color: #fdf386;
}

.fortnite-img:hover{
    background-color: #71e66e;
}

.dota-img{
    height: 330px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 56px;
    background-color: #69adfd;
    margin-top: 16px;
}

.dota-img:hover{
    background-color: #fcb8ff;
}

.dota-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@keyframes rotation{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}

.logo{
    animation: rotation 10s infinite linear;
}

.dota-box, .gta-box, .fortnite-box{
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: calc(100vh - 110px)
}

.dota-box{
    background-image: url(img/pic/dota-big.png)
}

.fortnite-box{
    background-image: url(img/pic/fortnite-big.png)
}

.gta-box{
    background-image: url(img/pic/gta-big.png)
}

.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background-color: white;
    background: transparent;
    display: flex;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide{
    width: 80%;
}

.card-text{
    font-size: 18px;
    font-weight: 300;
}

.card-title{

}

.gallery, .articles{
    background-color: #F1EFE4;
}

@media (max-width: 990px){
    .menu-bg{
        background-color: #323335;
    }
    .menu-btn{
        background-color: white;
    }
    .nav-link{
        margin: 0 !important;
    }    
    .hero-title{
        font-size: 48px;
    }
    .hero-desc{
        font-size: 20px;
    }
    .btn-purple{
        display: block;
    }
    .card-games{
        margin-top: 40px;
    }
}